version: '3.8'

services:
  ai-model:
    build: ./ai_model
    container_name: royalty-ai
    ports:
      - "8000:8000"
    restart: always
    
    # 여기에 적으면 .env 안의 모든 변수가 컨테이너로 전달됩니다.
    env_file:
      - .env