version: '3.8'

services:
  ai-model:
    build: ./ai_model
    container_name: royalty-ai
    ports:
      - "8000:8000"
    restart: always
    environment:
      # AWS 접속 정보 주입
      - DB_HOST=royalty.czikksygigvr.ap-northeast-2.rds.amazonaws.com
      - DB_NAME=postgres
      - DB_USER=postgres
      - DB_PASSWORD=e9MbrDRLAqp2AES
      - DB_PORT=5432