<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.royalty.backend.detection.mapper.BrandMapper">

    <select id="findEnabledBrands"
        resultType="com.royalty.backend.detection.domain.BrandVO">

    	SELECT
        	b.brand_id        AS brandId,
        	b.brand_name      AS brandName,
        	b.text_vector     AS textVector,
        	CASE
            	WHEN bl.brand_id IS NOT NULL THEN true
            	ELSE false
        	END               	AS hasLogo
    	FROM brand b
    	LEFT JOIN brand_logo bl
           	ON b.brand_id = bl.brand_id
    	WHERE b.enabled = true

	</select>

</mapper>
