name: Deploy to EC2

on:
  push:
    branches:
      - main
    # 파일 변경 감지 경로 설정
    paths:
      - 'backend/**'
      - 'ai_model/**'
      - 'frontend/**'
      - 'docker-compose.yml'
      - '.github/workflows/deploy.yml'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            # 1. 프로젝트 폴더가 없으면 생성하고 이동
            # -p 옵션: 상위 디렉토리까지 생성하며, 이미 존재하면 에러 없이 넘어감
            mkdir -p /home/ubuntu/Royalty-AI
            cd /home/ubuntu/Royalty-AI

            # 2. 깃허브에서 최신 코드 가져오기
            # .git 폴더가 없으면(첫 배포면) Clone, 있으면 Pull
            if [ ! -d ".git" ]; then
              # [주의] 뒤에 점(.)을 찍어야 현재 폴더에 파일이 풀립니다.
              git clone https://github.com/wo2young/Royalty-AI.git .
            else
              git pull origin main
            fi

            # 3. 도커 컨테이너 재빌드 및 실행
            sudo docker compose down
            sudo docker compose up -d --build
            
            # 4. 불필요한 이미지 정리 (용량 확보)
            sudo docker image prune -f